{% extends 'base.html' %} {% block header %}
<h1>{% block title %}New Order{% endblock title %}</h1>
{% endblock header %} {% block content %}
<form method="post">
  <label for="item">Item</label>
  <input name="item" id="item" value="{{ request.form['item'] }}" required />
  <label for="item_description">Item Description</label>
  <textarea name="item_description" id="item_description">
    {{ request.form['item_description'] }}</textarea
  >
  <label for="quantity">Quantity</label>
  <input
    name="quantity"
    id="quantity"
    value="{{ request.form['quantity'] }}"
    required
  />
  <input type="submit" value="Place Order" />
</form>
{% endblock content %}
