{% extends 'base.html' %}
{% block header %}
<h1>{% block title %} Vendr {% endblock title %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('blog.create') }}">New Order</a>
{% endif %}
{% endblock header %}

{% block content %}
{% for order in orders %}
{% if g.user['id'] == order['author_id'] %}
<article class="order">
  <header>
    <div>
      <h1>{{ order['item'] }}</h1>
      <div class="about">
        by {{ order['username'] }} on {{ order['created'].strftime('%Y-%m-%d')}}
      </div>
    </div>
    <a class="action" href="{{ url_for('blog.update', id=order['id']) }}">Edit Order</a>
  </header>
  <div>
    <p class="item_description">{{ order['item_description'] }}</p>
    <p class="quantity">{{ order['quantity'] }}</p>
  </div>
</article>
{% if not loop.last %}
<hr />
{% endif %}
{% endif %}
{% endfor %}
{% endblock content %}