{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Edit "{{ order['item'] }}" {% endblock title %}</h1>
{% endblock header %} {% block content %}
<form method="post">
  <label for="item">Item</label>
  <textarea name="item" id="item">
    {{ request.form['item'] or order['item'] }}
  </textarea>
  <label for="item_description">Item Description</label>
  <textarea name="item_description" id="item_description">
    {{ request.form['item_description'] or order['item_description'] }}
  </textarea>
  <label for="quantity">Quantity</label>
  <textarea name="quantity" id="quantity">
    {{ request.form['quantity'] or order['quantity'] }}
  </textarea>
  <input type="submit" value="Update Order" id="" />
</form>
<hr />
<form action="{{ url_for('blog.delete', id=order['id']) }}" method="post">
  <input
    class="danger"
    type="submit"
    value="Delete"
    onclick="return confirm('Are you sure?');"
  />
</form>
{% endblock content %}
